<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentTrackingManager defaultProvider="default" enabled="true">
      <providers>
        <clear />
        <add name="default" type="Sitecore.ContentTracker.Providers.ContentTrackingProvider, Sitecore.ContentTracker" />
      </providers>
    </contentTrackingManager>

    <pipelines>
      <startTracking>
        <!-- <processor type="Sitecore.ContentTracker.Pipelines.StartTracking.ApplyTrackingFromPipeline, Sitecore.ContentTracker" /> -->
        <processor type="Sitecore.ContentTracker.Pipelines.StartTracking.ApplyTrackingFromRules, Sitecore.ContentTracker" />
      </startTracking>
      <contentTracker.getSourceItems>
        <processor type="Sitecore.ContentTracker.Pipelines.GetSourceItems.GetSourceItemsExample, Sitecore.ContentTracker" />
      </contentTracker.getSourceItems>
    </pipelines>
  </sitecore>
</configuration>
